.login-wrap {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login {
  margin-bottom: 16px;
  &__btn {
    img {
      width: 160px;
    }
  }
}

.check {
  font-size: 14px;
  color: #c6c6c6;
  margin-bottom: 40px;
  &__link {
    color: #00c300;
  }
}

.btns-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  &__qr {
    margin: 0 auto;
  }
}
