.login-wrap {
  height: calc(100vh - 126px);
  display: grid;
  place-items: center;
}

.login {
  margin-bottom: 16px;
  &__btn {
    img {
      width: 160px;
    }
  }
}

.check {
  font-size: 14px;
  color: #c6c6c6;
  &__link {
    color: #00c300;
  }
}
