.footer {
  max-width: 100%;
  background: #767676;
  padding: 16px 24px;
  &__copy {
    opacity: 0.8;
    text-align: right;
    font-size: 14px;
    color: #fff;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  place-content: center;
  &__item {
    opacity: 0.8;
    margin-right: 16px;
    font-size: 14px;
    color: #fff;
    &:hover {
      color: #00e000;
    }
  }
}
