.footer {
  max-width: 100%;
  background: #c6c6c6;
  padding: 8px 16px;
  &__copy {
    opacity: 0.6;
    text-align: right;
    font-size: 14px;
  }
}

.footer-menu {
  display: flex;
  align-items: center;
  place-content: center;
  &__item {
    opacity: 0.6;
    margin-right: 16px;
    font-size: 14px;
  }
}
