<div class="container container--log-table">
  <div *ngIf="dataSource; else default">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>状態</th>

        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.user.isWorking; else notWorking">
            <p class="is-working"></p>
          </ng-container>
          <ng-template #notWorking>
            <span class="not-working"></span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="photoURL">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="photoURL">
          <p>
            <img [src]="element.user.photoURL" alt="" />
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名前</th>
        <td mat-cell *matCellDef="let element">{{ element.user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>ポジション</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user.post }}
        </td>
      </ng-container>

      <ng-container matColumnDef="logedInAt">
        <th mat-header-cell *matHeaderCellDef>出勤</th>
        <td mat-cell *matCellDef="let element">
          {{ element.logedInAt.toDate() | date: "M/d HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tookBreakAt">
        <th mat-header-cell *matHeaderCellDef>休憩IN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tookBreakAt.toDate() | date: "M/d HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="backedBreakAt">
        <th mat-header-cell *matHeaderCellDef>休憩OUT</th>
        <td mat-cell *matCellDef="let element">
          {{ element.backedBreakAt.toDate() | date: "M/d HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="logedOutAt">
        <th mat-header-cell *matHeaderCellDef>退勤</th>
        <td mat-cell *matCellDef="let element">
          {{ element.logedOutAt.toDate() | date: "M/d HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalTime">
        <th mat-header-cell *matHeaderCellDef>合計</th>
        <td mat-cell *matCellDef="let element">
          {{ totalHH + ":" + totalMM }}
        </td>
      </ng-container>

      <ng-container matColumnDef="overTime">
        <th mat-header-cell *matHeaderCellDef>残業</th>
        <td mat-cell *matCellDef="let element">
          {{ overTime > 0 ? overHH + ":" + overMM : 0 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>場所</th>
        <td mat-cell *matCellDef="let element">
          {{ element.location }}
        </td>
      </ng-container>

      <ng-container matColumnDef="commutingFee">
        <th mat-header-cell *matHeaderCellDef>交通費</th>
        <td mat-cell *matCellDef="let element">
          {{ element.commutingFee }}
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>メニュー</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            matTooltip="編集"
            matTooltipPosition="before"
            routerLink="/editor/{{ element.id }}"
            class="menu__edit"
          >
            編集する
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      [length]="dataSource?.data.length"
      [pageSize]="defaultPageSize"
      showFirstLastButtons
      #MatPaginator
    ></mat-paginator>
  </div>
</div>

<ng-template #default>
  <p class="loading">
    <img src="assets/images/loading.svg" alt="" />
  </p>
</ng-template>
