.participants-wrap {
  min-height: 100vh;
  background: #171b1e;
  color: #fff;
  padding: 24px 16px;
}

.heading {
  margin-bottom: 16px;
}

.participants {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &__photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  &__name {
    font-size: 14px;
    margin-left: 16px;
  }
}
