.loading {
  width: 100%;
  padding: 120px 0;
  display: grid;
  place-items: center;
}

.menu {
  &__edit {
    max-width: 120px;
    background: transparent;
    border: 2px solid #9c38ff;
    color: #9c38ff;
    font-size: 13px;
    padding: 4px 8px;
    margin: 0 auto;
    text-align: center;
    border-radius: 32px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover {
      background: linear-gradient(to right, #9c38ff, #d28fff);
      color: #fff;
    }
  }
}
