<div class="container container--log-table">
  <div *ngIf="dataSource; else default">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef>日付</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.logedInAt?.toDate() | date: "M/d(E)" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="photoURL">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="photoURL">
          <p>
            <img [src]="element.log.team.thumbnailURL" alt="" />
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>チーム</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.team.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="logedInAt">
        <th mat-header-cell *matHeaderCellDef>出勤</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.logedInAt?.toDate() | date: "HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tookBreakAt">
        <th mat-header-cell *matHeaderCellDef>休憩IN</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.tookBreakAt?.toDate() | date: "HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="backedBreakAt">
        <th mat-header-cell *matHeaderCellDef>休憩OUT</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.backedBreakAt?.toDate() | date: "HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalBreakTime">
        <th mat-header-cell *matHeaderCellDef>休憩合計</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalBreakTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="logedOutAt">
        <th mat-header-cell *matHeaderCellDef>退勤</th>
        <td mat-cell *matCellDef="let element">
          {{ element.log.logedOutAt?.toDate() | date: "HH:mm:ss" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalTime">
        <th mat-header-cell *matHeaderCellDef>勤務合計</th>
        <td mat-cell *matCellDef="let element">
          {{ element.totalWorkTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="overTime">
        <th mat-header-cell *matHeaderCellDef>残業</th>
        <td mat-cell *matCellDef="let element">
          {{ element.overTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>メニュー</th>
        <td mat-cell *matCellDef="let element">
          <button
            matTooltip="編集"
            matTooltipPosition="before"
            routerLink="/editor/{{ element.log.id }}"
            class="menu__edit"
          >
            編集する
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 50]"
      [length]="dataSource?.data.length"
      [pageSize]="defaultPageSize"
      showFirstLastButtons
      #MatPaginator
    ></mat-paginator>
  </div>
</div>

<ng-template #default>
  <p class="loading">
    <img src="assets/images/loading.svg" alt="" />
  </p>
</ng-template>
