<div class="welcome-wrap">
  <div class="container container--home">
    <div class="main">
      <p class="main__sub-head">簡単打刻！手入力とサヨナラ！</p>
      <p class="main__description">LINEでらくらく勤怠管理</p>
      <p class="main__title">Dacook</p>
    </div>

    <a routerLink="/welcome/login" mat-raised-button class="btn"
      >無料ではじめる</a
    >
    <img src="https://qr-official.line.me/sid/M/730cgfst.png" />
    <a href="https://lin.ee/ZFWgB2Y"
      ><img
        src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
        alt="友だち追加"
        height="36"
        border="0"
    /></a>
  </div>
</div>
