<div class="welcome-wrap">
  <div class="container">
    <div class="main">
      <p class="main__sub-copy">簡単打刻！グッバイ手入力！</p>
      <p class="main__copy">LINEでらくらく勤怠管理</p>
      <p aria-label="DaCook" class="main__title">
        <span data-text="D">D</span>
        <span data-text="a">a</span>
        <span data-text="C">C</span>
        <span data-text="o">o</span>
        <span data-text="o">o</span>
        <span data-text="k">k</span>
      </p>
      <a routerLink="/welcome/login" class="btn">無料ではじめる</a>
    </div>
  </div>
</div>
