.welcome-wrap {
  height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  margin-bottom: 48px;
  &__title {
    margin-bottom: 48px;
    font-size: 72px;
  }
  &__desctiption {
    margin-bottom: 16px;
  }
}

.btns-wrap {
  img {
    display: block;
  }
}

.btn {
  width: 160px;
  margin: 0 auto 48px;
  background: #424242;
  color: #fff;
}

.privacy {
  opacity: 0.6;
}
