<div class="join-team-wrapper">
  <div class="heading">
    <h2 class="heading__text">チームに参加</h2>
  </div>

  <mat-divider></mat-divider>

  <form class="form" (ngSubmit)="submit()" [formGroup]="form">
    <div class="form-grid">
      <p class="form-grid__label">チームID</p>
      <mat-form-field appearance="outline">
        <input
          type="text"
          matInput
          placeholder="チームID"
          formControlName="id"
          autocomplete="off"
          required
        />
        <mat-error *ngIf="form.get('id').hasError('required')"
          >必須入力です</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-grid">
      <p class="form-grid__label">チーム名</p>
      <mat-form-field appearance="outline">
        <input
          type="password"
          matInput
          placeholder="🗝 パスワード"
          formControlName="password"
          autocomplete="off"
          required
        />
        <mat-error *ngIf="form.get('password').hasError('required')"
          >必須入力です</mat-error
        >
        <mat-error *ngIf="form.get('password').hasError('minlength')"
          >パスワードは{{ PASS_MIN_LENGTH }}文字以上です。</mat-error
        >
      </mat-form-field>
    </div>

    <mat-dialog-actions class="actions" align="end">
      <button class="actions__back" mat-button matDialogClose type="button">
        キャンセル
      </button>
      <button
        mat-raised-button
        class="form__submit"
        color="primary"
        type="submit"
        [mat-dialog-close]="true"
        [disabled]="form.invalid || form.pristine || isProcessing"
      >
        参加
      </button>
    </mat-dialog-actions>
  </form>
</div>
