.team {
  padding-top: 48px;
  &__heading {
    display: flex;
    align-items: center;
  }
  &__name {
    margin-right: 24px;
  }
}

.member-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin: 48px;
}

.loading {
  min-width: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
