<div class="container container--team">
  <ng-container *ngIf="user$ | async as user">
    <div class="team" *ngIf="team$ | async as team; else default">
      <div class="team__heading">
        <span class="team__border"></span>
        <span class="team__border"></span>
        <h2 class="team__name">{{ team.name }}</h2>
        <p class="tema__month">{{ date.toDate() | date: "yyyy年/ MM月" }}</p>

        <span class="spacer"></span>

        <div class="my-selecter-wrap">
          <p class="my-select__label">年</p>
          <mat-form-field class="my-select">
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}年
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="my-selecter-wrap">
          <p class="my-select__label">月</p>
          <mat-form-field class="my-select">
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let month of months" [value]="month">
                {{ month }}月
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="member" *ngIf="user">
        <app-member-card
          *ngFor="let user of joinedUsers$ | async"
          [user]="user"
        ></app-member-card>
      </div>

      <div class="log">
        <app-log-table></app-log-table>
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        *ngIf="user.uid == team.ownerId"
        class="edit-btn"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/editor">
          <mat-icon>edit</mat-icon>編集
        </button>
        <button mat-menu-item (click)="openDeleteDialog(team)">
          <mat-icon>delete</mat-icon>削除
        </button>
      </mat-menu>
    </div>

    <div class="unsubscribe__message" *ngIf="teamService.isProcessing">
      <p>削除処理中です...</p>
      <img src="assets/images/loading.svg" alt="" />
    </div>
  </ng-container>

  <ng-template #default>
    <p class="loading">
      <img src="assets/images/loading.svg" alt="" />
    </p>
  </ng-template>
</div>
