<div class="container container--team">
  <ng-container *ngIf="user$ | async as user">
    <div class="team" *ngIf="team$ | async as team; else default">
      <div class="team__heading">
        <span class="team__border"></span>
        <span class="team__border"></span>
        <h2 class="team__name">{{ team.name }}</h2>

        <ng-container *ngIf="selectedMonth$ | async as selectedMonth">
          <p class="tema__month">
            {{ selectedMonth | slice: 0:4 }}年 /
            {{ selectedMonth | slice: 4:6 }}月
          </p>
        </ng-container>

        <span class="spacer"></span>

        <div class="my-selecter-wrap">
          <p class="my-select__label">年</p>
          <mat-form-field class="my-select">
            <mat-select
              name="year"
              [formControl]="yearControl"
              (selectionChange)="setYear(yearControl.value)"
            >
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}年
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="my-selecter-wrap">
          <p class="my-select__label">月</p>
          <mat-form-field class="my-select">
            <mat-select
              name="month"
              [formControl]="monthControl"
              (selectionChange)="navigateTo(monthControl.value)"
            >
              <mat-option *ngFor="let month of months" [value]="month">
                {{ month }}月
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="member" *ngIf="user">
        <ng-container *ngIf="logsWithUser$ | async as logs">
          <app-member-card
            *ngFor="let user of joinedUsers$ | async"
            [user]="user"
            [logs]="logs"
          ></app-member-card>
        </ng-container>
      </div>

      <div class="logs" *ngIf="selectedMonth$ | async as monthId">
        <app-log-table [team]="team" [monthId]="monthId"></app-log-table>
      </div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        *ngIf="user.uid == team.ownerId"
        class="edit-btn"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/editor">
          <mat-icon>edit</mat-icon>編集
        </button>
        <button mat-menu-item (click)="openDeleteDialog(team)">
          <mat-icon>delete</mat-icon>削除
        </button>
      </mat-menu>
    </div>

    <div class="unsubscribe__message" *ngIf="teamService.isProcessing">
      <p>削除処理中です...</p>
      <img src="assets/images/loading.svg" alt="" />
    </div>
  </ng-container>

  <ng-template #default>
    <p class="loading">
      <img src="assets/images/loading.svg" alt="" />
    </p>
  </ng-template>
</div>
