<div class="settings">
  <div class="container">
    <ng-container *ngIf="user$ | async as user">
      <div class="settings__head">
        <div>
          <p class="settings__photo">
            <img [src]="user.photoURL" alt="" />
          </p>
          <p class="settings__name">こんにちは、{{ user.name }}さん</p>
          <p class="settings__message">
            このページであなたのプロフィール情報を変更したり、削除したりできます。
          </p>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="updateUser()">
        <div class="settings__heading">
          <h3>基本情報</h3>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            ユーザーID
            <mat-icon matTooltip="あなたのアカウント固有のId"
              >help_outline</mat-icon
            >
          </div>
          <p class="settings__value">{{ user.uid }}</p>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            ユーザー名
            <mat-icon matTooltip="みんなに表示される名前"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                formControlName="name"
                required
                #name
              />
              <mat-hint align="end"
                >{{ form.get("name").value.length }} /
                {{ nameMaxLength }}</mat-hint
              >
              <mat-error *ngIf="form.get('name').hasError('maxlength')"
                >最大{{ nameMaxLength }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('name').hasError('required')">
                必須入力です。
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            ポジション
            <mat-icon matTooltip="みんなに表示されるポジション"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                formControlName="position"
                required
                #position
              />
              <mat-hint align="end"
                >{{ form.get("position").value.length }} /
                {{ positionMaxLength }}</mat-hint
              >
              <mat-error *ngIf="form.get('position').hasError('maxlength')"
                >最大{{ positionMaxLength }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('position').hasError('required')">
                必須入力です。
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            アイコン画像
            <mat-icon matTooltip="みんなに表示される写真"
              >help_outline</mat-icon
            >
          </div>
          <div class="settings__cropper">
            <ng-container *ngIf="user">
              <deer-crop-trigger
                [options]="{
                  aspectRatio: 1 / 1,
                  oldImageUrl: oldImageUrl
                }"
                (image)="onCroppedImage($event)"
              ></deer-crop-trigger>
            </ng-container>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            アクティブなチームID
            <mat-icon matTooltip="LINE上でアクティブになっているチームのID"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                formControlName="activeTeamId"
                #activeTeamId
              />
              <mat-hint align="end"
                >{{ form.get("activeTeamId").value.length }} /
                {{ activeTeamIdMaxLength }}</mat-hint
              >
              <mat-error *ngIf="form.get('activeTeamId').hasError('maxlength')"
                >最大{{ activeTeamIdMaxLength }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('activeTeamId').hasError('required')">
                必須入力です。
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="actions">
          <button type="button" mat-button class="actions__back" routerLink="/">
            戻る
          </button>
          <button
            [disabled]="form.invalid || form.pristine || isProcessing"
            mat-raised-button
            color="primary"
          >
            更新
          </button>
        </div>
      </form>

      <div class="settings__heading">
        <h3>設定</h3>
      </div>

      <div class="settings__footer">
        <p>
          アカウント削除をご希望の方は<span (click)="openDeleteDialog(user)"
            >こちら</span
          >
        </p>
      </div>
    </ng-container>
  </div>
</div>
