<div class="member">
  <div class="member__head">
    <div class="member__photo">
      <ng-container *ngIf="userWithLogs.log.isWorking">
        <span class="member__active-ring"></span>
      </ng-container>
      <img [src]="userWithLogs.photoURL" alt="" />
    </div>
    <p class="member__name">
      {{ userWithLogs?.name }}
    </p>
    <p class="member__post">
      {{ userWithLogs?.position ? userWithLogs?.position : "まだありません" }}
    </p>
  </div>

  <div class="member__body">
    <div class="member__result">
      <p class="member__num member__num--result">
        {{ userWithLogs?.result ? userWithLogs?.result : 0 }} h
      </p>
      <p class="member__text">実績</p>
    </div>

    <span class="member__pipe"></span>

    <div class="member__plan">
      <p class="member__num member__num--plan">
        {{ userWithLogs?.plan ? userWithLogs?.plan : 0 }} h
      </p>
      <p class="member__text">計画</p>
    </div>
  </div>

  <div class="member__btn">
    <a href="">もっと見る</a>
  </div>
</div>
