<div class="member" *ngIf="user$ | async">
  <div class="member__head">
    <div class="member__photo">
      <ng-container *ngIf="teamId === user.activeTeamId && user.isWorking">
        <span @fade class="member__active-ring"></span>
      </ng-container>
      <img [src]="user.photoURL" alt="" />
    </div>
    <p class="member__name">
      {{ user.name }}
    </p>
    <p class="member__post">
      {{ user.position ? user.position : "まだありません" }}
    </p>
  </div>

  <div class="member__body">
    <div class="member__result">
      <p class="member__num member__num--result">
        {{ monthlyTotalWorkTime }} h
      </p>
      <p class="member__text">実績</p>
    </div>

    <span class="member__pipe"></span>

    <div class="member__plan">
      <p class="member__num member__num--plan">
        {{ user.plan ? user.plan : 0 }} h
      </p>
      <p class="member__text">計画</p>
    </div>
  </div>

  <div class="member__btn">
    <a [routerLink]="'/' + user.uid + '/' + teamId + '/' + monthId"
      >もっと見る</a
    >
  </div>
</div>
