.member {
  padding: 24px 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  border-radius: 12px;
  transition: ease-in-out 0.3s;
  background: #fff;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  &__head {
    text-align: center;
  }
  &__photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 8px;
  }
  &__status {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    background: linear-gradient(to right, #f83600, #fe8c00);
    position: absolute;
    top: -30px;
    left: 48px;
    z-index: 10;
  }
  &__name {
    font-weight: 600;
    padding: 0 8px;
    position: relative;
  }
  &__post {
    font-size: 12px;
    margin-bottom: 16px;
  }
  &__body {
    display: grid;
    grid-template-columns: 40px 2px 40px;
    gap: 24px;
    place-content: center;
    margin-bottom: 16px;
  }
  &__result,
  &__plan {
    color: #fff;
    text-align: center;
  }
  &__num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #c6c6c6;
    margin: 0 auto 8px;
    display: grid;
    place-items: center;
    font-size: 13px;
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.4);
    }
    &--result {
      background: #9c38ff;
      background: linear-gradient(to right, #9c38ff, #d28fff);
    }
    &--plan {
      background: #9c38ff;
      background: linear-gradient(to right, #9c38ff, #d28fff);
    }
  }
  &__text {
    color: #303030;
    font-size: 13px;
  }
  &__pipe {
    width: 2px;
    height: 40px;
    background: rgba(#000, 0.16);
  }
  &__btn {
    max-width: 70%;
    background: transparent;
    border: 2px solid #9c38ff;
    color: #9c38ff;
    padding: 6px 16px;
    margin: 0 auto;
    text-align: center;
    border-radius: 32px;
    transition: ease-in-out 0.3s;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      border: 2px solid #d28fff;
      background: linear-gradient(to right, #9c38ff, #d28fff);
      color: #fff;
    }
  }
}
