.privacy {
  max-width: 600px;
  padding: 48px 16px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 32px;
  text-align: center;
}

h2 {
  margin-bottom: 16px;
  text-align: left;
  font-weight: 500;
}

ol {
  text-align: left;
  margin-bottom: 32px;
}

p {
  text-align: left;
  margin-bottom: 32px;
}
