<div
  class="container container--home"
  *ngIf="authService.user$ | async as user"
>
  <div class="user-teams-wrapper">
    <div class="user-wrapper">
      <img class="user-wrapper__photo" [src]="user.photoURL" alt="" />
      <p class="user-wrapper__name">
        {{ user.name }}
      </p>
      <a class="user-wrapper__edit" mat-flat-button routerLink="/settings"
        >プロフィール編集</a
      >
      <mat-divider></mat-divider>
      <p class="user-wrapper__team-name-heading">現在アクティブなチーム</p>
      <p
        class="user-wrapper__team-name"
        *ngIf="activeTeamName$ | async as teamName"
      >
        {{ teamName ? teamName : "ありません" }}
      </p>
    </div>

    <div class="teams-list-wrapper">
      <div class="heading">
        <h2 class="heading__text">自分がオーナーのチーム</h2>
      </div>
      <mat-divider></mat-divider>

      <ng-container *ngIf="myTeams$ | async as myTeams; else defaultMyTeams">
        <ng-container *ngFor="let team of myTeams">
          <a
            class="team"
            [routerLink]="'/team/' + team.teamId + '/' + thisMonth"
          >
            <div class="team__thumbnail">
              <img [src]="team.thumbnailURL" alt="thumbnail" />
            </div>

            <div class="team__body">
              <p class="team__name">
                {{ team.name }}
              </p>
              <p class="team__description">
                {{ team.description }}
              </p>
              <ng-container *ngIf="team.memberCount > 0; else defaultMember">
                <p class="team__member">{{ team.memberCount }}メンバー</p>
              </ng-container>
              <ng-template #defaultMember>
                <p class="team__member">メンバーはまだいません。</p>
              </ng-template>
            </div>

            <p class="team__date">
              最終更新{{ team.updatedAt.toDate() | date: "yyyy/MM/dd HH:mm" }}
            </p>
          </a>
        </ng-container>
      </ng-container>

      <ng-template #defaultMyTeams>
        <a class="team" routerLink="/editor">
          <div class="team__thumbnail">
            <mat-icon>add</mat-icon>
          </div>

          <div class="team__body">
            <p class="team__name">まだありません</p>
            <p class="team__description">チームを作成しましょう。</p>
          </div>
        </a>
      </ng-template>

      <div class="heading">
        <h2 class="heading__text">参加チームリスト</h2>
      </div>
      <mat-divider></mat-divider>

      <ng-container
        *ngIf="joinedTeams$ | async as joinedTeams; else defaultJoinedTeams"
      >
        <ng-container *ngFor="let team of joinedTeams">
          <a
            class="team"
            [routerLink]="'/team/' + team.teamId + '/' + thisMonth"
          >
            <div class="team__head">
              <img [src]="team.thumbnailURL" alt="thumbnail" />
            </div>

            <div class="team__body">
              <p class="team__name">
                {{ team.name }}
              </p>
              <p class="team__description">
                {{ team.description }}
              </p>
              <p class="team__member">{{ team.memberCount }}メンバー</p>
            </div>

            <p class="team__date">
              最終更新{{ team.updatedAt.toDate() | date: "yyyy/MM/dd HH:mm" }}
            </p>
          </a>
        </ng-container>
      </ng-container>

      <ng-template #defaultJoinedTeams>
        <a class="team">
          <div class="team__head" (click)="openJoinTeamDialog(user.uid)">
            <mat-icon>add</mat-icon>
          </div>
          <div class="team__body">
            <p class="team__name">まだありません</p>
            <p class="team__description">チームに参加しましょう。</p>
          </div>
        </a>
      </ng-template>
    </div>
  </div>

  <div class="logs-table-wrapper">
    <app-user-log-table [user]="user"></app-user-log-table>
  </div>
</div>
