<mat-sidenav-container [hasBackdrop]="false" autosize>
  <mat-sidenav
    mode="side"
    fixedInViewport
    class="sidenav"
    opened
    [class.open]="uiService.isOpened"
    [class.close]="!uiService.isOpened"
    [@easeSlideForSideNav]="uiService.isOpened ? 'open' : 'close'"
  >
    <button class="nav-btn" (click)="toggleNav()" *ngIf="!uiService.isOpened">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <app-main-nav *ngIf="uiService.isOpened"></app-main-nav>
  </mat-sidenav>

  <mat-sidenav-content
    [@easeSlideForContent]="uiService.isOpened ? 'open' : 'close'"
  >
    <app-header></app-header>
    <div class="router">
      <router-outlet> </router-outlet>
    </div> </mat-sidenav-content
></mat-sidenav-container>
<app-footer></app-footer>
